**/model_weight/**
*/data/*
**/temp_media/** 
**/logs/** 

.env
transfer.py
remove_duplicate_404_errors.py
get_untagged_ids.py

*.txt
**.ipynb
**.mp3
**.md
**.json
**.snapshot
*.db
*.log
*.db
*.log
*.py[cod]